# Send update signal 1 to dwmblocks to run batt.sh script again

SUBSYSTEM=="power_supply",\
  ACTION=="change",\
  RUN+="/sbin/pkill -RTMIN+1 dwmblocks"

# sudo cp 60-batt_dwmblocks.rules /etc/udev/rules.d/
